@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  transition: all 0.4s ease-in-out;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --primary-color: #fff;
  --secondary-color: #19202d;
  --ternary-color: #6e8098;
  --bg-color: #f2f2f2;
}

html.dark {
  --primary-color: #19202d;
  --secondary-color: #fff;
  --ternary-color: #9daec2;
  --bg-color: #121721;
}

$color-blue: #5964e0;
$color-blue-hover: #939bf4;
$color-white: #fff;
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$ternary-color: var(--ternary-color);
$bg-primary-color: var(--bg-color);
