@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tabletDisplay {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktopDisplay {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  color: $secondary-color;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  color: $color-blue;
}

p {
  font-size: 16px;
  color: $ternary-color;
}
