@import 'color-scheme';
@import 'config';
@import 'nav';
@import 'header';
@import 'jobs';

body {
  background: $bg-primary-color;
}

.load-more {
  display: block;
  background: $color-blue;
  border: none;
  height: 48px;
  width: 141px;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: $color-blue-hover;
  }
}

.pattern-header {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 136px;
  object-fit: cover;

  &.mobile {
    display: block;
  }

  &.tablet {
    display: none;
  }

  &.desktop {
    display: none;
  }
}

@include tabletDisplay {
  .pattern-header {
    height: 160px;

    &.mobile {
      display: none;
    }

    &.tablet {
      display: block;
    }
  }

  .load-more {
    margin-bottom: 2rem;
  }
}

@include desktopDisplay {
  .pattern-header {
    height: 162px;

    &.tablet {
      display: none;
    }

    &.desktop {
      display: block;
    }
  }
}
